/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {

    .destaques__secundario:nth-child(2),
    .destaques__secundario:nth-child(3),
    .destaques__secundario:nth-child(4),
    .destaques__secundario:nth-child(5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .destaques__principal,
    .destaques__categorias {
        grid-column: 1 / 5;

    }
    .populares__contenido {
        flex-direction: column;

    }
    .populares__card {
    width: 100%;
    margin-bottom: 3rem;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) and (max-width: 768px) {
    .destaques__secundario:nth-child(2),
    .destaques__secundario:nth-child(3),
    .destaques__secundario:nth-child(4),
    .destaques__secundario:nth-child(5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .destaques__principal, .destaques__categorias{
        grid-column: 1 / 5;
    }
     
    .populares__contenido {
   
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0rem;

    }
    .populares__card {
        display: grid;
        grid-template-areas: 
        "card-imagem"
        "card-corpo";
        grid-template-rows: 173px auto;
        margin-right: 1rem;
        width: calc(50% - 1rem);
        margin-bottom: 3rem;
    }  
    

/* Medium devices (landscape tablets, 768px and up) */


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
}